<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="AllTestSuite" verbose="1" >
    <test name="LoginTest">
        <classes>
            <class name="ru.org.autotest.FirstTest"/>
        </classes>
    </test>
    <test name="ChangeCityTest">
        <classes>
            <class name="ru.org.autotest.SecondTest"/>
        </classes>
    </test>
    <test name="DeliveryTest">
        <classes>
            <class name="ru.org.autotest.ThirdTest"/>
        </classes>
    </test>
</suite>
